.search {
    padding: 1rem 1rem 0 1rem;
    margin: 0.5rem auto;
    width: 100%;
    max-width: 40rem;
    color: black;
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
  .search h3 {
    color:rgb(4, 58, 121)
  }
  .search input {
    height: 22px;
    flex: 5;
    border-radius: 8px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: rgb(231, 251, 255);
    border: 1px solid rgb(3, 70, 112);
    font-size: 18px;
    margin: 5px 10px;
  }
  .search input:focus {
    outline: none;
    border-color: rgb(254, 182, 194);
    background: rgb(252, 226, 230);
  }
  @media (min-width: 768px) {
    .search {
      align-items: center;
    }
  }