.filter {
    padding: 1rem 1rem 0 1rem;
    margin: 0.2rem auto;
    width: 100%;
    max-width: 40rem;
    text-align: center;
    color: black;
  }
  
  .filtercontrol {
    display: flex;
    width: 98%;
    align-items: center;
    justify-content: space-between;
    margin: 0.1rem 0;
  }
  
  .filtercontrol label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .filtercontrol select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
  }
  @media (min-width: 768px) {
      .filtercontrol {
        align-items: center;
        flex-direction: row;
      }
    }